nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(34, 13, 83);
    padding: 20px 30px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 10px;
}

li {
    color: #11fcfc;
}

/* Form.css */

h1 {
    text-align: center;
    color: #b810aa;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}

input[type="text"],
textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 3px solid #bbb;
    border-radius: 4px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #3ab8b8;
    color: white;
    border-radius: 4px;
}