nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(40, 16, 96);
    padding: 20px 30px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 10px;
}

li {
    color: #11fcfc;
}

/**/
/* Form.css */

div {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}

input[type="text"],
textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    margin-top: 20px;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}