body {
  background-color: #f9f9f9;
  padding: 50px;
}

.header {
  background-color: #1c1c1c;
  color: white;

  padding: 25px;
  margin-bottom: 25px;

}

form {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

input[type="text"],
textarea,
input[type="color"] {
  padding: 0.6rem;
  border: 2px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 15px;
  width: 7%;
  background-color: #007bff;
  color: white;
  border-radius: 6px;

}

button:hover {
  background-color: #255383;
}



.note {
  padding: 40px;
  border-radius: 12px;
  width: 300px;
}


.note p {
  margin: 5px;
}

.note button {
  background-color: #c82333;
  width: auto;
}